<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <style type="text/css" href="./style.css"></style>

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
</head>
<body>
  <nav class="blue darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>current_user_name</a></li>
        <li>
        <li><a href="/users/sign_in">Sign in</a></li>
        <li>
          <%= link_to 'Sign out',"/users/sign_out", method: :delete %>
        </li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix"></i>
            <%= form_for (@blog) do |f| %>
              <%= f.text_field :title, placeholder: "title" %>
              <%= f.text_field :content, placeholder: "text" %>
              <%= f.submit "SEND", class:"btn waves-effect waves-light" do %><i class="material-icons right"></i>
              <% end %>
            <% end %>
        </div>
      </div>
    </form>
  </div>
</body>
